* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(36, 36, 36);
  color: white;
}

h1 {
    text-align: center;
}

h3 {
    margin: 0 !important;
}

.knapsack-outer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.knapsack-inner--input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8%;
    margin-bottom: 8%;
    border-bottom: 4px solid white;
}

.knapsack-inner--input > * {
    margin: 10px;
}

.knapsack-inner--datacol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.knapsack-inner--capacity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knapsack-inner--steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: white;
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* table */

.vertical-header {
    padding-right: 15px;
}

.horizontal-header {
    padding-bottom: 10px;
}

td {
    border: 1px solid white;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.highlight {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}